<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>MVC PHP</title>
	<style>
	img {
		max-width: 100%;
		height: auto;
	}
	.topnav {
		overflow: hidden;
		background-color: darkslategrey;
	}

	.topnav a {
		float: left;
		color: #4CAF50;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.topnav a:hover {
		background-color: #ddd;
		color: darkgoldenrod;
	}

	.topnav a.active {
		background-color: #4CAF50;
		color: darkslategrey;
	}
	</style>
</head>
<body>
	<div class="topnav">
		<a class="active" href="http://localhost/MVC/index.php">USER </a>
		<a href="http://localhost/MVC/index.php?controller=admin">ADMIN</a>
	</div>
	<h2><center>User view</center></h2>
	<center>
		<form action="index.php?controller=user" method="post">
			<select name="limit" id="limit" onchange='if(this.value != "") { this.form.submit(); }'>
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="15">15</option>
				<option value="20">20</option>

			</select>
		</form>
	<table class="table table-bordered">
		<tr class="thead-dark">
			<th><center>ID</center></th>
			<th><center>Image</center></th>
			<th><center>Title</center></th>
		</tr>
			<?php
				foreach($pr as $item){
			?>
			<tr>
				<td style="width: 3%"><center><?php echo $item['id'];?></center></td>
				<td style="width: 15%" height="250"><center><img src =<?php echo $item['image'];?> alt='anh'></center></td>
				<td style="width: 60%"><center><h3><?php echo $item['title'];?></h3></center></td>
			</tr>
			<?php
			}
			?>
	</table>
	</center>
</body>
</html>